body {
    background: #f9f9f9;
}
.wrapper-ssuser {
    margin-top: 30px;
}

    .wrapper-ssuser .postfeed,
    .notifications-wrapper .media {
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 4px;
        background: #fff;
    }

    .wrapper-ssuser .postfeed .name {
        font-weight: bold;
    }

    .wrapper-ssuser .postfeed .info {
        font-size: 12px;
        color: #aaa;
    }