<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
     <!-- Title -->
        <title>StudySocio</title>

        <!-- Styles -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    {% block upperscript %}
    {% endblock %}



    </head>

    <body>
        <!-- Nav -->
        <nav class="navbar is-white navbar is-fixed-top" role="navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>StudySocio</strong></a>
                {% if request.user.is_authenticated is False%}
                  <div class="navbar" style="position: absolute;
  right: 1%;
  margin-top:0.5%;
  transform: translatex(1%);">
                    <div class="buttons">

                    <a href="{% url 'signup' %}" class="button is-success"><strong>SIGN UP</strong></a>
                    <a href="{% url 'login' %}" class="button is-light">Login </a>

                    </div>
                </div>
                {% endif %}

                <a role="button" class="navbar-burger burger " aria-label="menu" aria-expanded="false" data-target="navbarExampleTransparentExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>




            <div id="navbarExampleTransparentExample" class="navbar-menu">
                 <div class="navbar-start">
                    {% if request.user.is_authenticated %}
                    <div class="navbar-item">
                        <form method="get" action="{% url 'search' %}" >
                            <div class="field has-addons">
                                <div class="control has-icons-right">
                                    <input type="text" class="input" placeholder="Search Members" name="query">
                                </div>
                                <div class="control">
                                    <button class="button is-success is-rounded" ><span class="icon-text"> <span>Search</span>
  <span class="icon">
    <i class="fas fa-search"></i>
  </span>


</span></button>
                                </div>

                            </div>
                        </form>
                    </div>
                     {% endif %}
                </div>


                <div class="navbar-start">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'notifications' %}" class="navbar-item">Notifications ( <span id="notificationcount">{{ notifications.count }}</span> )</a>
                        <a href="{% url 'groupconversations' %}" class="navbar-item">Group Message</a>
                        <a href="{% url 'search' %}" class="navbar-item">NoticeBoard</a>
                        <a href="{% url 'search' %}" class="navbar-item">Articles</a>
                        <a href="{% url 'search' %}" class="navbar-item">Class</a>
                        <a href="{% url 'directconversations' %}" class="navbar-item">Direct messages</a>
                        <a href="{% url 'feed' %}" class="navbar-item">Feed</a>
                    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href=" ">

            <span class="icon-text">
                <i class="image is-32x32">
                    {% if request.user.studysocioprofile.avatar %}
                    <img class="is-rounded" src="{{request.user.studysocioprofile.avatar.url}}" alt="Placeholder image" style=" vertical-align: middle;
              width: 50px;
              height: 50px;
              border-radius: 50%;">
                    {% endif %}
                </i>

            </span>

            <div class="text">

                  &nbsp;<span><strong>  {{request.user.first_name}} {{request.user.last_name}}</strong></span>
                &nbsp;<p class="block"><small>@ {{request.user.username}}</small></p>
            </div>





        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="{% url 'studysocioprofile' request.user.username %}">
            <span class="icon">
    <i class="fas fa-user"></i>
  </span>&nbsp; Profile
          </a>
          <a class="navbar-item" href="{% url 'edit_profile' %}">
            <span class="icon">
    <i class="fas fa-cogs"></i>
  </span>&nbsp; Edit Profile
          </a>


                                <a href="{% url 'logout' %}" class="button is-danger">teacher</a>
          <a class="navbar-item is-danger" href="{% url 'logout' %}">
            Logout &nbsp;<span class="icon">
    <i class="fas fa-arrow-right red-color" aria-hidden="true"></i>
  </span>
          </a>

        </div>
      </div>



                {% else %}
                </div>


{% endif %}

            </div>
        </nav>

        <!--End now-->
            <!-- Content -->
        <section class="section">
            {% block content %}
            {% endblock %}
        </section>
        <!-- End Content -->

        <! -- Scripts -->
         <script>
$(document).ready(function(){
setInterval(function(){
      $("noti").load(document.URL + " noti" );
}, 3000);


document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});

</script>

{% if request.user.is_authenticated %}
    <script type="text/javascript">
    setInterval(function() {
      $.get("http://127.0.0.1:8000/ajax_notification/",function(data) {
        if (data == 0) data = '0';
        $("#notificationcount").html(data);
      });
    }, 5000 ); // check notification every 10 seconds


(function() {
  var burger = document.querySelector('.burger');
  var nav = document.querySelector('#'+burger.dataset.target);

  burger.addEventListener('click', function(){
    burger.classList.toggle('is-active');
    nav.classList.toggle('is-active');
  });
})();
    </script>
{% endif %}

        {% block script %}
        {% endblock %}
        <! -- Scripts -->





    </body>

</html>