{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="'container has-background-success-light">
        <div class="columns">

            <div class="column is-half is-offset-one-quarter">
             <div class="content is-centered ">
                 <div clas="column is-centered">
                <h1 class=" title is-centered">Sign up</h1>
                 <form method="POST" action="." >
                     {% csrf_token %}

                     {{ form|crispy }}

                     <button type="submit" class="button is-success">Signup</button>

                 </form>
</div>
            </div>
        </div>

        </div>
         <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <a href="{% url 'login' %}">Already have an account?</a>
              </div>
            </div>
          </nav>
        <br>
    </div>
 <footer class="section">
      <div class="container">
        <div class="pb-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">
          <div class="mr-auto mb-2">
            <a class="is-inline-block" href="#">
              <img class="image" src="/static/logo/logo.png" alt="" width="196px"></a>
          </div>
          <div>
            <ul class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
              <li class="mr-4"><a class="button is-white" href="#">About</a></li>
              <li class="mr-4"><a class="button is-white" href="#">Help?</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
      <div class="container">
        <div class="is-flex-tablet is-justify-content-between is-align-items-center">
          <p>All rights reserved © Study Socio {% now 'Y' %} Created by Ibrahim Hakam</p>

        </div>
      </div>
    </footer>
{% endblock  %}
{% block script %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 3000)    // 3000 millisecond
</script>
{% endblock %}