{% extends 'core/base.html'  %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="columns">
      <div class="column is-12">
          <h1 class="title">Follows - {{ user.username }}</h1>

          <p>Num: {{ user.studysocioprofile.follows.count }}</p>
      </div>
    </div>

    <div class="columns">
        <div class="column is-8">
            {% if request.user == user %}
            {% for ssuser in user.studysocioprofile.follows.all %}
            <p><a href="{% url 'studysocioprofile' ssuser.user.username %}">{{ ssuser.user.username }}</a></p>
            - <a href="{% url 'unfollow_ssuser' ssuser.user.username %}">Unfollow User[X]</a>
            {% empty %}
                {% if request.user == user %}
                    <p>You don't follow Anyone!</p>
                {% else %}
                    <p>{{ user.username }} isn't Following anyone !</p>
                {% endif %}
            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}




