{% extends 'core/base.html'  %}
{% load humanize %}
{% block upperscript %}
<style>




</style>
{% endblock %}
{% block content %}
<br>
	<div class="content is-centered" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(
         '{{user.studysocioprofile.background_image.url}}');background-size: cover;">
            <div class="container has-text-centered">
                <div class="row ">
	                <div class="column is-12">
        	           <div class="content">
	                        <div class="column is-centered">
	                            <img src="{{ user.studysocioprofile.avatar.url }}" style=" width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
        background-repeat: no-repeat;"  alt="Circle Image">
	                        </div>
                           <br>
	                        <div class="content has-text-white" >
	                            <h3 class="title has-text-white">{{ user.first_name }} {{ user.last_name }} </h3>
								<h6 class="has-text-white">@ {{ user.username }}  <sup><i>  {{ user.studysocioprofile.designation }}</i></sup></h6>
                                <h6 class="has-text-white">
                                    {% if user.studysocioprofile.education_center and user.studysocioprofile.designation == 'Student' %}
                                    Currently Studying at {{user.studysocioprofile.education_center}}{% endif %}
                                    {% if user.studysocioprofile.education_center and user.studysocioprofile.designation == 'Teacher' %}
                                    Currently Teaching at {{user.studysocioprofile.education_center}}{% endif %}

                                </h6>
                                <h6 class="has-text-white"><i>
                                    {% if user.studysocioprofile.field_of_study and user.studysocioprofile.designation == 'Student' %}
                                    Field in   {{user.studysocioprofile.field_of_study}}{% endif %}
                                    {% if user.studysocioprofile.field_of_teaching and user.studysocioprofile.designation == 'Teacher' %}
                                    Field in {{user.studysocioprofile.field_of_teaching}}{% endif %}
</i>
                                </h6>
                                 {% if user != request.user %}
            <a href="{% url 'directconversation' user.id %}" class="button is-info">Send message</a>
            {% if request.user.studysocioprofile in user.studysocioprofile.followed_by.all %}
                <a href="{% url 'unfollow_ssuser' user.username %}" class="button is-danger">Unfollow</a>
             {% else %}
                <a href="{% url 'follow_ssuser' user.username %}" class="button is-success">Follow</a>
             {% endif %}
          {% endif %}
	                        </div>
	                    </div>
    	            </div>
                </div>

            </div>
        </div>
<div class="level-right" style="margin-left:10%;margin-right:10%;">
    {% if user.studysocioprofile.designation == 'Teacher' %}
  <a href="{% url 'user_lessons' user.username %}" class="button is-info is-light">Lessons &nbsp; {{lessons.count}}</a>&nbsp;
    {% endif %}
    <a href="{% url 'user_articles' user.username %}" class="button is-danger is-light">Articles &nbsp; {{articles.count}}</a>
</div>
<br>

{% if user == request.user %}
<div class="tile is-ancestor">
  <div class="tile is-parent  has-text-centered">
    <div class="tile is-child box notification has-background-dark" >
        <p class="subtitle is-5 has-text-white"><b>
<a href="{% url 'followers' user.username %}"> Followers: {{ user.studysocioprofile.followed_by.count }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="{% url 'follows' user.username %}"> Follows: {{ user.studysocioprofile.follows.count }}</a>
            </b>
        </p>
    </div>
  </div>
</div>
{% endif %}
{% if user.studysocioprofile.bio %}
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title is-5">Bio:</p>
        <div class="columns is-centered" >
        <p class="subtitle is-6 ">{{user.studysocioprofile.bio}}</p>
            </div>
    </div>
  </div>
</div>
{% endif %}





<div class="container" id ="studysocioprofileapp">
    <div class="columns">
      <div class="column is-12">




    {% if user == request.user.studysocioprofile.follows or user.studysocioprofile.profilestatus == 'Public' or user == request.user.studysocioprofile.user %}
          <h2 class="title has-text-centered">Your Recent Posts<sup>{{ssuser.count}}</sup></h2>
      </div>
    </div>



    <div class="container">


    {% if messages %}
<ul class="messages">
    {% for message in messages %}

    {% if message.tags == 'warning' %}
    <div  class= "notification is-danger" id="msg">
   {{ message }}
    </div>
     {% else %}
    <div  class="notification is-success" id="msg">
     {{ message }}
    </div>
   {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% for postfeed in ssuser %}
      <div class="columns body-columns">

        <div class="column is-half is-offset-one-quarter">
            <div class="card" >
                <div class="card-content">


                    <div class="content">
                        <article class="media" >

  <div class="media-content" >

<div class="content">
  <div class="content" >
                 &nbsp; &nbsp; &nbsp; &nbsp; {% if postfeed.topic %} <span class="card"{% if postfeed.topic %} style="background-color: {{postfeed.topic.colour}};"{% endif %}> &nbsp; &nbsp;  {{postfeed.topic}}&nbsp; &nbsp;</span>{% endif %}
          <span>
          <i class="media-left">
    <p class="image is-64x64"style="float: left;">
      {% if postfeed.created_by.studysocioprofile.avatar %}
                <img class="avatar" src="{{ postfeed.created_by.studysocioprofile.avatar.url }}"  style=" vertical-align: middle;
  border-radius: 50%; height:65px;width:90px;">

                              {% endif %}
    </p>

  </i> </span>

          <p class="level-left" > <strong style="font-size:20px;">&nbsp;  <b>{{postfeed.created_by.first_name}} {{postfeed.created_by.last_name}}</b> </strong><span><strong>&nbsp;&nbsp;@ <a href="{% url 'studysocioprofile' postfeed.created_by.username %}">{{ postfeed.created_by.username }}</a></strong></span>
              <small>&nbsp; posted <i>{{ postfeed.created_at|naturaltime }}</i></small> </p>



  </div>
</div>
<br>

    <div class="content">
      <p>
          {{ postfeed.body|linebreaks|urlizetrunc:15 }}
      </p>
        {% if postfeed.feedimage %}

        <div class="card-image">

                    <figure class="image is-3by2">
                                    <img src="{{ postfeed.feedimage.url }}" alt="" class="card-img-top" width="400" height="400"align="center">
                    </figure>
                </div>
        {% endif %}

    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small" id="DIV{{postfeed.id}}" ><i class="fas fa-reply"></i></span>
        </a>

          <span>{{ postfeed.replys.count }} Comments</span>&nbsp;&nbsp;
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
             <a @click="likePostFeed({{ postfeed.id }})" v-if="!liked_postfeed.includes({{ postfeed.id }})">
                 <span class="icon is-small"><i class="fas fa-heart"></i></span></a>

        </a>
          <span v-if="liked_postfeed.includes({{ postfeed.id }})"><span class="icon is-small"><i class="fas fa-heart" style="color:red;"></i></span></span>
          &nbsp;<p><small id="likes-{{ postfeed.id }}">{{ postfeed.likes.count }} likes</small> </p>
      </div>
    </nav>

      <div  id="{{postfeed.id}}r" style="display:none;">
          {% for k in postfeed.replys.all %}
          <article class="media">

 <figure class="media-left">
{% if k.created_by != request.user.studysocioprofile.user  %}
    <p class="image is-48x48">
        {% if k.created_by.studysocioprofile.avatar %}
                <img class="avatar" src="{{ k.created_by.studysocioprofile.avatar.url }}"  style=" height:48px;width:48px;">

                              {% endif %}

    </p>
{% endif %}

  </figure>
  <div class="media-content">
      <span><strong >&nbsp;  <b>{{k.created_by.first_name}} {{k.created_by.last_name}}</b> </strong></span>
     <strong>&nbsp;@ <a href="{% url 'studysocioprofile' k.created_by.username %}">{{ k.created_by.username }}</a></strong>
    <div  {% if k.created_by == request.user.studysocioprofile.user  %} class="notification is-success is-light"{% else %} class="content" {% endif %}><p>

          {{ k.replybody }}

        <span class="level-right"> <a>Like</a> &nbsp; -<small>commented</small><small>&nbsp;  <i>{{ k.created_at|naturaltime }}</i></small></span>
      </p>
    </div>

  </div>
              {% if k.created_by == request.user %}

          <div class="media-right">
                          <div id="modal-js-reply" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <div class="container">
      <h1>Delete Post</h1>
      <p>Are you sure you want to delete your Post ?</p>
<br>
      <div>
          <div class="columns is-centered is-mobile">
              <form class="row">
        <a class="modal-closed"> <button type="button" class="button close is-warning"  aria-label="close" >Cancel</button></a>
</form>
              &nbsp; &nbsp;&nbsp; &nbsp;
         <form class="row" action="studysocioprofile/{{ k.id }}/deletereplyfeed_profile/" method="post">

       {% csrf_token %}
         <button type="submit"  class="button is-danger" > Delete</button>
        </form>
              </div>
      </div>
    </div>
      <!-- Your content -->
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
    <div class="js-modal-trigger" data-target="modal-js-reply">
        <button class="delete"></button>
</div>

  </div>
              {% endif %}
</article>
          {% empty %}
      <p>Leave a Comment</p>
          {% endfor %}
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      {% if request.user.studysocioprofile.avatar %}
                <img class="avatar" src="{{ request.user.studysocioprofile.avatar.url }}"  style=" height:64px;width:64px;">

                              {% endif %}
    </p>
  </figure>
  <div class="media-content">
      <form method = "post" enctype="multipart/form-data" action="{% url 'replypost' %}">

            <div class="field">
              {% csrf_token %}
              <p class="control">
                  <textarea  name="postfeed" id="postfeed" hidden  >{{postfeed.id}}</textarea>
                <textarea class="textarea" name="replybody" id="replybody" placeholder="Add a comment..." ></textarea>

              </p>
            </div>


    <div class="field">
      <p class="control">
        <button class="button is-success" type="submit">Post comment</button>
      </p>
    </div>
          </form>

  </div>
</article></div>
  </div>
  <div class="media-right ">

      {% if postfeed.created_by == request.user.studysocioprofile.user %}
               <div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <div class="container">
      <h1>Delete Post</h1>
      <p>Are you sure you want to delete your Post ?</p>
<br>
      <div>
          <div class="columns is-centered is-mobile">
              <form class="row">
        <a class="modal-closed"> <button type="button" class="button close is-warning"  aria-label="close" >Cancel</button></a>
</form>
              &nbsp; &nbsp;&nbsp; &nbsp;
         <form class="row" action="studysocioprofile/{{ postfeed.id }}/deletefeed_profile/" method="post">

       {% csrf_token %}
         <button type="submit"  class="button is-danger" > Delete</button>
        </form>
              </div>
      </div>
    </div>
      <!-- Your content -->
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
    <div class="js-modal-trigger" data-target="modal-js-example">
        <button class="delete"></button>
</div>

       {% endif %}
  </div>
</article>
                    </div>
                </div>

            </div>











        </div>
    </div>

      {% endfor %}
      </div>
    </div>
   {% endif %}
</div>


{% endblock %}

{% block script %}
<script>
  new Vue({
    el: '#studysocioprofileapp',
    delimiters: ['[[',']]'],
    data() {
      return{

        liked_postfeed:[{% for postfeed in ssuser  %} {% if postfeed.liked %}{{ postfeed.id }},{% endif %}{% endfor %}]
      }
    },
    methods: {
      likePostFeed(postfeed_id) {
            this.liked_postfeed.push(parseInt(postfeed_id))

            var postfeed = {
            'PostFeed_id': postfeed_id
            };

      fetch('/api/add_like/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(postfeed)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });

                    const el = document.getElementById('likes-' + postfeed_id);
                    const likes = parseInt(el.innerHTML.split(' ')[0]) + 1;
                    el.innerHTML = likes+ 'likes';
                }
      }

  })
</script>
   <script>

      $(document).ready(function() {
      {% for postfeed in ssuser %}
          // Display alert message after toggle paragraphs
          $("#DIV{{postfeed.id}}").click(function() {
              $("#{{postfeed.id}}r").toggle(500, function() {

                });
            });{% endfor %}
        });

    </script>
  <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-closed ,.modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});
</script>

<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 3000)    // 3000 millisecond
</script>
{% endblock %}